In [1]:
import pandas as pd

df = pd.read_csv("covid_factTable.csv")
df

,dateid,vacid,covidid,date,province,totalcases,recovery,death,partial,fully,booster,totalcases_change,recovery_change,death_change,partial_change,fully_change,booster_change
0,1,1,1,2021-01-02,BC,53162,42129,901,17510,0,0,0,0,0,0,0,0
1,1,2,2,2021-01-02,AB,104633,84827,1267,14244,0,0,0,0,0,0,0,0
2,1,3,3,2021-01-02,SK,15844,12975,158,3722,0,0,0,0,0,0,0,0
3,1,4,4,2021-01-02,MB,25026,19789,678,3540,2,0,0,0,0,0,0,0
4,1,5,5,2021-01-02,ON,193960,160526,4905,33191,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2036,157,2037,2037,2023-12-30,NS,150811,43018,961,2235685,842600,503257,269,0,0,0,0,0
2037,157,2038,2038,2023-12-30,PE,58228,41242,114,391227,144466,83158,111,0,0,0,0,0
2038,157,2039,2039,2023-12-30,YT,4989,4489,32,92743,35380,20672,0,0,0,0,0,0
2039,157,2040,2040,2023-12-30,NT,11511,11327,22,102863,39663,20278,0,0,0,0,0,0
2040,157,2041,2041,2023-12-30,NU,3531,3435,7,77083,29021,14519,0,0,0,0,0,0